body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #080a0f; /* Dark blue background */
    color: #00c7d9; /* Cyber blue text color */
    overflow: hidden; /* Hide scrollbars */
    position: relative; /* Required for absolute positioning of background animation */
}

.top-content {
    display: flex;
    flex-direction: column; /* Display items vertically */
    justify-content: center;
    align-items: center;
}

#greeting {
    font-size: 36px; /* Increased the size of the greeting */
}

.clock {
    font-size: 20px;
    font-weight: bold;
    color: #00c7d9; /* Cyber blue text color */
    margin: 10px;
}

.content-container {
    position: relative; /* Ensure content stays above the background animation */
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

#search-input {
    padding: 10px;
    width: 400px;
    border: 1px solid #00c7d9;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(8, 10, 15, 0.5); /* Transparent input background */
    color: #00c7d9; /* Cyber blue text color */
}

.search-suggestions {
    display: none;
    max-height: 100px;
    overflow-y: auto;
    background-color: #080a0f; /* Dark blue suggestions background */
    border: 1px solid #00c7d9;
    border-radius: 4px;
    color: #00c7d9; /* Cyber blue text color */
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 100%; /* Position below the search bar */
    z-index: 1; /* Ensure suggestions appear over other elements */
}

#background-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0; /* Place behind other elements */
}

#background-animation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* You can set the background color */
    z-index: -1; /* Place behind content */
}
